body{
  background-color: darkseagreen;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

img {
  max-width: 100%;
}


:root {
  scrollbar-color: rgb(247, 18, 18) rgb(243, 140, 4, 0) !important;
  scrollbar-width: thin !important;
}

/*firefox için  scroll bar duzenleme kodu*/

/*chrome için scrollbar duzenleme kodu.*/

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px rgb(224, 109, 109); */
  border-radius: 6px;
  background: #1F2020;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #434545;
  border-radius: 6px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #3E3E3F;
}
